html {
  height: 100%; }

body {
  padding-left: 2rem;
  padding-right: 2rem;
  color: #4d4d54;
  height: 100%; }

img {
  width: 100%;
  height: auto; }

.entry-content {
  padding: 0 0 0 1rem; }

aside {
  text-align: center; }

#row2, #row3, #row4 {
  text-align: center; }

ul {
  list-style-type: none; }
  ul li {
    display: inline-block; }

.top-bar .right {
  padding: 1rem 1rem; }
.top-bar .left {
  padding: 1rem 0 0 1rem; }
