/************* WHO WE ARE *************/
.us-description{
	border-bottom:2px solid #3badb8;
	padding:1rem 0;
	
	p{
		margin:0 0 1rem 0;
	}
	
	h2, h3{
		text-align: left;
	}
}

.meet-the-team, .brain-dogs {
  padding:1rem 0;
  
  h3 {
    color:$tertiary-color;
    font-weight:300;
    text-transform: uppercase;
  }
}

.employee-block {
	display:inline-block;
	position: relative;
	margin:0 auto;
	height:auto;
	max-width:50%;
	text-align: center;
	
	span.employee-block-title{
  	color:#fff;
		z-index: 9999;
		position:absolute;
		left:0rem;
		top:50%;
		width:100%;
	}
	span.employee-block-text {
  	color:#fff;
		z-index: 9999;
		position:absolute;
		left:0.6rem;
		top:70%;
		width:90%;
		line-height:1rem;
	}
}
.dog-block{
	display:inline-block;
	position: relative;
	margin:0 auto;
	height:auto;
	max-width:50%;
	text-align: center;
	
	span.dog-block-title{
  	color:#fff;
		z-index: 9999;
		position:absolute;
		left:0rem;
		top:30%;
		width:100%;
	}
	span.dog-block-text {
  	color:#fff;
		z-index: 9999;
		position:absolute;
		left:1.2rem;
		top:50%;
		width:80%;
		line-height:1rem;
	}
}


.employee-slider, .employee-slider-small{
	padding:none;
	display:none;
	max-width:90%;
	height:100%;
	margin-bottom:.5rem;
}

@media only screen and (min-width: 40.063em) {
  
  .meet-the-team, .brain-dogs {
    padding:2rem 0;
    
    h3 {
      color:$tertiary-color;
      font-weight:300;
    }
  }
  
  .employee-slider{
  	display:none;
  	max-width: 100%;
  	height: 100%;
  	text-align: center;
  }
  
  .employee-block, .dog-block{
  	display:inline-block;
  	position: relative;
  	margin:0 auto;
  	height:auto;
  	max-width:100%;
  	text-align: center;
	
  	div.hover-state{
  		display:none;
  	}
  	
  	&:hover{
  		position:relative;
  		
  		div.nohover-state{
  		    position: absolute;
  		    top: 0;
  		    left: 0;
  		    bottom: 0;
  		    right: 0;
  		    z-index: 0;
  		    overflow: hidden;
  		    opacity: .2;
  		}
  		div.hover-state{
  			p{
  				display: inline-block;
  				padding-top:1rem;
  			}
  			z-index: 9999;
  			max-width: 100%;
  			height: auto;
  			display:inline-block;
  		}
  	}
  }  
}
  
/************* END OF WHO WE ARE *************/