/*
SMALL (BASE) SIZE
These are the small/base styles. It's what people see on their phones. If
you set a great foundation, you won't need to add too many styles in
the other stylesheets. Remember, keep it light: Speed is Important.
*/

body,html {
	font-size:16px;
	height:100%;
	color:#878787;
}

#contact-social-list{
  li{
    width:60px;
  }
}
.social-icon{
  width:50px;
  height: 50px
}
  
li{
	text-align:left;
}

a {
	color: $tertiary-color;
}

h1{
	text-align:center;
	
	&.page-title{
		font-size: 2rem;
		font-weight: bold;
		text-transform: uppercase;
		margin-top: 0rem;
	}
}

h2.page-title-subheader {
	color:$tertiary-color;
	font-size: 1rem;
	text-transform: normal;
	text-align:center;
}

h3{
	text-align:center;
}
.header-background-page {
  
  .header-bg {
    opacity:0.15;
    
    img {
      position: absolute;
      top:0;
      min-width: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      background-size: cover;
      overflow-x: hidden;
    }
    video#headerbgvid {
      position: absolute;
      top:0;
      max-height:1px;
      width: auto;
      height: auto;
      z-index: -100;
      background-size: cover;
    }
  }
}

/*
MEDIUM
*/
@media only screen and (min-width: 40.063em) {

	html{
		font-size:16px;
	}
	h1{
		text-align:center;
		&.page-title{
			font-size: 2.5rem;
			margin-top: 0rem;
		}
  }
  h2.page-title-subheader{
		color:$tertiary-color;
		font-size: 1.2rem;
		text-transform: normal;
	}
	
	h3{
		text-align:center;
		&.expertise-block-title{
			margin: 1.5rem 0 1.5rem 0;
			color:$tertiary-color;
			font-weight: bold;
			text-transform: uppercase;
		}
	}
	
	.header-background-page {
     .header-bg {
      opacity:0.15;
      
      img {
        position: absolute;
        top:0;
        min-width: 100%;
        max-height:150px;
        width: auto;
        height: auto;
        z-index: -100;
        background-size: cover;
      }
      video#headerbgvid {
        position: absolute;
        top:0;
        min-width: 100%;
        max-height:150px;
        width: auto;
        height: auto;
        z-index: -100;
        background-size: cover;
      }
    }
  }
}


/*
LARGE
*/
@media only screen and (min-width: 64.063em) {
	h1{
		&.page-title{
			font-size: 4.5rem;
			font-weight: bold;
			text-transform: uppercase;
			margin-top: 2rem;
		}
		&.page-title.extended-title {
  		font-size:4rem;
		}
		&.page-title.extra-extended-title {
  		font-size:3.4rem;
		}
	}
  
  h2.page-title-subheader {
    font-size: 1.6rem;
  }

  .header-background-page {
    
    h2.page-title-subheader {
      margin:2.5rem 0 1rem 0;
    }  
    
    .header-bg {
      opacity:0.25;
      
      img {
        position: absolute; 
        top: 0; 
        left: 0; 
        right: 0; 
        bottom: 0; 
        margin: auto; 
        min-width: 50%;
        min-height: 50%;
      }
      video#headerbgvid {
        position: absolute;
        top:0;
        min-width: 100%;
        max-height:250px;
        width: auto;
        height: auto;
        z-index: -100;
        background-size: cover;
      }
    }
  }

} // end of media query

