/************* HEADER *************/
.top-bar{
	height:3rem;
	margin-bottom:0;
	overflow:visible;

	.title-area{
		float:left !important;
		img{
			max-width:5rem;
			height:auto;
		}
	}
	ul.right{
		padding-top: .25rem;
		text-align: center;
		li{
			display: inline-block;
		}
	}
}

#navModal{
	color: #FFFFFF;

	#navModalLogo{
		max-width:5rem;
		height:auto;
		float: left !important;
		margin-bottom: 1rem;
	}

	.navModalList{
		margin:2rem 0rem 2rem 0rem;

		li{
			list-style-type:none;
			text-align:center;

			a{
				color:#FFFFFF !important;
				font-size: 1.75rem;
				line-height: 3rem;
			}
		}
	}
}

@media only screen and (min-width: 40.063em) {
	.top-bar {
		margin-top:2rem;
		ul.right{
			font-size: 1.25rem;
			height:100px;
		}
		.title-area{
			img{
				max-width:10rem;
				height:auto;
			}
		}
	}
}

/************* END OF HEADER *************/