/******************************************************************

Stylesheet: Mediun Stylesheet

Styles apply to 40.063em and up.

******************************************************************/


/*********************
GENERAL STYLES
*********************/

img{
	max-width:60%;
	height:auto;
}
div.expertiseBlock{
	text-align:center;
	margin: -5px 10px;
	padding-top: 65px;
	margin-bottom: 20px;
	color: white;
	height:150px;
	width:150px;
	
	background: #6ebc25; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #6ebc25 0%, #5caaa8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#6ebc25), color-stop(100%,#5caaa8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  #6ebc25 0%,#5caaa8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  #6ebc25 0%,#5caaa8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  #6ebc25 0%,#5caaa8 100%); /* IE10+ */
	background: linear-gradient(45deg,  #6ebc25 0%,#5caaa8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ebc25', endColorstr='#5caaa8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

	
/*********************
NAVIGATION STYLES
*********************/


/*********************
POSTS & CONTENT STYLES
*********************/

/* entry content */
.entry-content {
			
	
	/* at this larger size, we can start to align images */
	.alignleft, img.alignleft { 
		margin-right: 1.5em; 
		display: inline; 
		float: left; 
	}
	.alignright, img.alignright { 
		margin-left: 1.5em; 
		display: inline; 
		float: right; 
	}
	.aligncenter, img.aligncenter { 
		margin-right: auto; 
		margin-left: auto; 
		display: block; 
		clear: both; 
	}
			
} /* end .entry-content */

/*********************
SIDEBARS & ASIDES
*********************/

.widget {
	padding: 0 10px;
	margin: 2.2em 0;
}

/*********************
FOOTER STYLES
*********************/
	
/*
check your menus here. do they look good?
do they need tweaking?
*/
.footer-links {
	ul {
		li {}
	}
} /* end .footer-links */
			
/*********************
FOUNDATION STYLES
*********************/

/*********************
PLUGIN STYLES
*********************/
