.service-content{
  padding:1rem 0 2rem 0;
}

.service-description{
  margin-bottom: 2rem;
  font-size:1rem;
}

.service-description-header{
  text-align: left;
  font-weight: 300;
}

.service-list{
  font-size: 1rem;
  list-style-image: url('../images/arrows/arrow-right-light-green.png');
  line-height: 2rem;
  margin:0 0 0 1rem;
}

.service-small-image{
  margin-bottom: 2rem;
}