/************* WHO WE ARE *************/

.employee-block{
	position: relative;
	height:auto;
	max-width:100%;
	
	span.employee-block-text{
		z-index: 9999;
		position:absolute;
		left:0rem;
		top:80%;
		width:100%;
	}
}

@media only screen and (min-width: 40.063em) {
  
  li.employee-block{
  	text-align: center;
  	max-width:100%;
  	height:auto;
  	div.hover-state{
  		display:none;
  	}
  	
  	&:hover{
  		position:relative;
  		
  		div.nohover-state{
  		    position: absolute;
  		    top: 0;
  		    left: 0;
  		    bottom: 0;
  		    right: 0;
  		    z-index: 0;
  		    overflow: hidden;
  		    opacity: .2;
  		}
  		div.hover-state{
  			p{
  				display: inline-block;
  				padding-top:1rem;
  			}
  			z-index: 9999;
  			width:inherit;
  			height:inherit;
  			display:inline-block;
  		}
  	}
  }  
}
  
/************* END OF WHO WE ARE *************/