/******************************************************************

Stylesheet: Main Stylesheet

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.
******************************************************************/

//
// IMPORTING STYLES
//

// import normalize
@import "../../bower_components/foundation/scss/normalize";

// import mixins
@import "mixins";

// import foundation overrides
@import "settings";

// foundation.scss
@import "../../bower_components/foundation/scss/foundation";

// joints.scss
@import "joints";

/*
SMALL (BASE) SIZE
These are the small/base styles. It's what people see on their phones. If
you set a great foundation, you won't need to add too many styles in
the other stylesheets. Remember, keep it light: Speed is Important.
*/

<<<<<<< HEAD

//HEADER STYLE! ***************
.top-bar{
	height:3rem;
	margin-bottom:0;
	overflow:visible;

	.title-area{
		float:left !important;
		img{
			max-width:5rem;
			height:auto;
		}
	}
	ul.right{
		padding-top: .25rem;
		text-align: center;
		li{
			display: inline-block;
		}
	}
}

#navModal{
	color: #FFFFFF;

	#navModalLogo{
		max-width:5rem;
		height:auto;
		float: left !important;
		margin-bottom: 1rem;
	}

	.navModalList{
		margin:2rem 0rem 2rem 0rem;

		li{
			list-style-type:none;
			text-align:center;

			a{
				color:#FFFFFF !important;
				font-size: 1.75rem;
				line-height: 3rem;
			}
		}
	}
}
//********************************

body,html{
	font-size:16px;
	height:100%;
	color:#878787;
}

body{
	padding: 1rem 1rem 0rem 1rem;
}

li{
	text-align:left;
}

a {
	color: $tertiary-color;

	&:hover{
		border-bottom: 1px solid #41881f;
	}
}
div.expertiseBlock { 
		margin-top: .1rem;
		clear: both;
		margin: auto auto;
		text-align:center;
		color: white;
		height:2.3rem;
		width:100%;
		padding-top: .4rem;
}

#expertiseBlockUL{
	margin-bottom:.5rem;
}
#expertiseBlock0{
	background-color:$braindo-menu-red;
}
#expertiseBlock1{
	background-color:$braindo-menu-yellow;
}
#expertiseBlock2{
	background-color:$braindo-menu-blue;
}
#expertiseBlock3{
	background-color:$braindo-menu-green;
}
#expertiseBlock4{
	background-color:$braindo-menu-teal;
}
#expertiseBlock5{
	background-color:$braindo-menu-red;
}
.expertiseBlockSlider{
  display: none;
  margin: 0 auto;
  height: 5rem;
  text-align: center;
  background-color: transparent; 
}

.employee-block{
	position: relative;
	height:auto;
	max-width:100%;
	
	span.employee-block-text{
		z-index: 9999;
		position:absolute;
		left:0rem;
		top:80%;
		width:100%;
	}
}

h1{
	text-align:center;
	&.page-title{
		font-size: 1.8rem;
		font-weight: bold;
		text-transform: uppercase;
		margin-top: .5rem;
	}
	&.page-title-subheader{
		color:$tertiary-color;
		font-size: .75rem;
		text-transform: normal;
	}
}
h4{
	text-align:center;
	&.expertise-block-title{
		margin: 1rem 0 1rem 0;
		color:$tertiary-color;
		font-weight: bold;
		text-transform: uppercase;
	}
}
#curious-{
	text-align: center !important;
	.curious-text{
		font-size: .75rem;
		text-transform: none;
	} 
	img{
		margin: 0 auto;
	}
	.curious-contact-text{
		border: 1px solid $tertiary-color;
	}
}

//FOOTER STYLES! ***************
footer{
	ul{
		margin: 0 auto;
		font-size:.6rem;
		li{
			display:inline-block;
		}
	}
}
=======
// styles in small.scss

>>>>>>> aba7fc81efa26367aeb5d396370cf47d98baa6e4



/*
MEDIUM
*/
@media only screen and (min-width: 40.063em) {

<<<<<<< HEAD
	//HEADER STYLE! ***************
	.top-bar {
		margin-top:2rem;
		ul.right{
			font-size: 1.25rem;
			height:100px;
		}
		.title-area{
			img{
				max-width:10rem;
				height:auto;
			}
		}
	}
	//END HEADER STYLE *************

	html{
		font-size:16px;
	}
	body{
		padding: 2rem 2rem 2rem 2rem;
	}
	h4{
		text-align:center;
		&.expertise-block-title{
			margin: 1.5rem 0 1.5rem 0;
			color:$tertiary-color;
			font-weight: bold;
			text-transform: uppercase;
		}
	}
	h1{
		text-align:center;
		&.page-title{
			font-size: 2.5rem;
			margin-top: 1.5rem;
		}
		&.page-title-subheader{
			color:$tertiary-color;
			font-size: 1.5rem;
			text-transform: normal;
		}
	}



	div.expertiseBlock{
		margin-bottom: 1.5rem;
		height: 150px;
		width: 180px;
		padding-top:0rem;

		img{
			padding-top:10px;
			width: 160px;
			height: 130px;
		}
		.hover-state{
			display: none;
		}

		&:hover{
			position:relative;
			
			.nohover-state{
			    position: absolute;
			    top: 0;
			    left: 0;
			    bottom: 0;
			    right: 0;
			    z-index: 0;
			    overflow: hidden;
			    opacity: .2;
			}
			.hover-state{
				text-align: center;
				ul{
					display: inline-block;
					padding-top:2rem;
					li{
						font-size: .7rem;
					}
				}
				z-index: 9999;
				width:inherit;
				height:inherit;
				display:inline-block;
			}
		}
	}
	
	li.employee-block{
		text-align: center;
		max-width:100%;
		height:auto;
		div.hover-state{
			display:none;
		}
		
		&:hover{
			position:relative;
			
			div.nohover-state{
			    position: absolute;
			    top: 0;
			    left: 0;
			    bottom: 0;
			    right: 0;
			    z-index: 0;
			    overflow: hidden;
			    opacity: .2;
			}
			div.hover-state{
				p{
					display: inline-block;
					padding-top:1rem;
				}
				z-index: 9999;
				width:inherit;
				height:inherit;
				display:inline-block;
			}
		}
	}

	p.extended-description{
		font-size: 1.5rem;
	}
	.extended-list-items{
		font-size: 2rem;
		list-style-type:square;

	}
	#curious-row{
		text-align: center !important;
		
		margin-top: 2rem;
		margin-bottom: 2rem;
		.curious-text{
			font-size: 1.25rem;
		}

		.curious-contact-text{
			border: 1px solid $tertiary-color;
		}
	}

	//FOOTER STYLE!******************
	footer{
		text-align:left;

		#footerLeft{
			margin-top: 1rem;
		}
		#footerRight{
			text-align: right;
			margin-top: 1rem;
		}
	}
//END FOOTER STYLE **************

} // end of media query

=======
}
>>>>>>> aba7fc81efa26367aeb5d396370cf47d98baa6e4
/*
LARGE
*/
@media only screen and (min-width: 64.063em) {
<<<<<<< HEAD
	
	h1{
		&.page-title{
			font-size: 4.5rem;
			font-weight: bold;
			text-transform: uppercase;
			margin-top: 3rem;
		}
	}
=======

	
>>>>>>> aba7fc81efa26367aeb5d396370cf47d98baa6e4

} // end of media query
