/******************************************************************

Stylesheet: Main Stylesheet

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.
******************************************************************/

//
// IMPORTING STYLES
//

// import normalize
@import "../../bower_components/foundation/scss/normalize";

// import mixins
@import "mixins";

// import foundation overrides
@import "settings";

// foundation.scss
@import "../../bower_components/foundation/scss/foundation";

// joints.scss
@import "joints";

/*
SMALL (BASE) SIZE
These are the small/base styles. It's what people see on their phones. If
you set a great foundation, you won't need to add too many styles in
the other stylesheets. Remember, keep it light: Speed is Important.
*/

// styles in small.scss
body,html{
	font-size:16px;
	height:100%;
	color:#878787;
}

p.byline{
	font-size:.75rem;
}
.off-canvas-wrap, .inner-wrap{
	height:100%
}

.expertiseBlockSlider{
	display:none;
	margin: 0px;
	height: 5rem; 
	margin: 0 auto 0 auto;
	text-align:center;
	background-color: transparent;
}

div.expertiseBlock{
	clear: both;
	margin: auto auto;
	text-align:center;
	margin-top: 0.1rem;
	padding-top: 0.5rem;
	color: white;
	height:2.25rem;
	width:90%;
	
	background: #6ebc25; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #6ebc25 0%, #5caaa8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#6ebc25), color-stop(100%,#5caaa8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  #6ebc25 0%,#5caaa8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  #6ebc25 0%,#5caaa8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  #6ebc25 0%,#5caaa8 100%); /* IE10+ */
	background: linear-gradient(45deg,  #6ebc25 0%,#5caaa8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ebc25', endColorstr='#5caaa8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.top-bar{
	height:3rem;
	margin-bottom:0;
	padding-bottom:0;

	ul.right{
		padding-top:1rem;
		padding-right: 1rem;
	}
	ul.left{
		padding-left:1rem;
		padding-top:1rem;
	}
}

h1,h2,h3,h4,h5{
	text-align:center;
}

#content p{
	margin-left:1rem;
	margin-right:1rem;
}

footer ul{
	margin: 0 auto;
	font-size:.6rem;
	text-align:center;

	li{
		display:inline-block;
	}
}

/*
MEDIUM
*/
@media only screen and (min-width: 40.063em) {
	// styles in medium.scss
	img{
		max-width:15rem;
		height:auto;
	}

	html{
		font-size:16px;
	}

	.top-bar ul.right{
		padding-top:3rem;
		font-size: 1.25rem;
		height:100px;
	}

	footer{ 
		text-align: center;
		ul{
			margin: 0 auto;
			font-size:1rem;
			li{
				display:inline-block;
			}
		}
	}
	div.expertiseBlock{
		text-align:center;
		margin: -5px 10px;
		padding-top: 65px;
		margin-bottom: 20px;
		color: white;
		height:150px;
		width:150px;
		
		background: #6ebc25; /* Old browsers */
		background: -moz-linear-gradient(45deg,  #6ebc25 0%, #5caaa8 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#6ebc25), color-stop(100%,#5caaa8)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(45deg,  #6ebc25 0%,#5caaa8 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(45deg,  #6ebc25 0%,#5caaa8 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(45deg,  #6ebc25 0%,#5caaa8 100%); /* IE10+ */
		background: linear-gradient(45deg,  #6ebc25 0%,#5caaa8 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ebc25', endColorstr='#5caaa8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}


} // end of media query

/*
LARGE
*/
@media only screen and (min-width: 64.063em) {

	img{
		max-width:15rem;
		height:auto;
	}
	html{
		font-size:16px;
	}
	div.expertiseBlock{
		text-align:center;
		margin: -5px 10px;
		padding-top: 65px;
		margin-bottom: 20px;
		color: white;
		height:150px;
		width:150px;
		
		background: #6ebc25; /* Old browsers */
		background: -moz-linear-gradient(45deg,  #6ebc25 0%, #5caaa8 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#6ebc25), color-stop(100%,#5caaa8)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(45deg,  #6ebc25 0%,#5caaa8 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(45deg,  #6ebc25 0%,#5caaa8 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(45deg,  #6ebc25 0%,#5caaa8 100%); /* IE10+ */
		background: linear-gradient(45deg,  #6ebc25 0%,#5caaa8 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ebc25', endColorstr='#5caaa8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}

} // end of media query
